<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/> <!-- obligatoire de fermer meta avec / -->
<title>Modifier étudiant </title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div class="col-md-6 col-md-offset-3 spacer">
<div class="panel panel-primary">
<div class="panel-heading">Modifier un étudiant</div>
<div class="panel-body">
<form th:action="@{UpdateEtudiant}" method="post" th:object="${etudiant}" enctype="multipart/form-data">
<div class="form-group">
<label class="control-label">Id:</label>
<input type="text" th:field="*{id}" class="form-control" /> <!--  on fait th:field="*{nom}" pour dire que nom de  th:object="${etudiant}" --> 
<span class="text-danger" th:errors="*{id}"></span>
</div>
<div class="form-group">
<label class="control-label">Nom:</label>
<input type="text" th:field="*{nom}" class="form-control" /> <!--  on fait th:field="*{nom}" pour dire que nom de  th:object="${etudiant}" --> 
<span class="text-danger" th:errors="*{nom}"></span>
</div>
<div class="form-group">
<label class="control-label">DateN:</label>
<input type="date" th:field="*{dateNaissance}" class="form-control" />
<span class="text-danger" th:errors="*{dateNaissance}"></span>
</div>
<div class="form-group">
<label class="control-label">Email:</label>
<input type="text" th:field="*{email}" class="form-control" />
<span class="text-danger" th:errors="*{email}"></span>
</div>
<div class="form-group">
<label class="control-label">Photo:</label>
<input type="file" name="picture" class="form-control" />
<span class="text-danger" th:errors="*{photo}"></span>
</div>
<td><img class="img-circle" th:src="@{getPhoto(id=${etudiant.id})}" width="100" height="100" /></td>

<button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
</body>
</html>