<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/> <!-- obligatoire de fermer meta avec / -->
<title>Listes des étudiants </title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>
<div class="container spacer">
<a th:href="@{form}">Saisir un étudiant</a>
</div>
<div class="col-md-6 col-md-offset-3 spacer40">
<div class="panel panel-primary">
<div class="panel-heading">Chercher Client</div>
<div class="panel body">
<form th:action="@{index}" method="get">
<label>Mot Clé</label>
<input type="text" name="mc" th:value="${mc}"/>
<button class="btn btn-primary">Chercher</button>
</form>
</div>
</div>
</div>
<div class="container spacer">
<table class="table table-striped">
<tr>
<th>ID</th><th>Nom</th><th>Date</th><th>Email</th><th>Photo</th>
</tr>
<tr th:each="e:${pageEtudiants.content}">  <!-- .content car il retourne une page il va ns donner la liste -->
<td th:text="${e.id}"></td><td th:text="${e.nom}"></td><td th:text="${e.dateNaissance}"></td><td th:text="${e.email}"></td>
<td><img class="img-circle" th:src="@{getPhoto(id=${e.id})}" width="100" height="100" /></td>
<td><a onclick="return confirm('Voullez vous supprimer ?')" th:href="@{supprimer(id=${e.id})}">Supprimer</a></td>
<td><a th:href="@{edit(id=${e.id})}">Edit</a></td>
</tr>
</table>
</div>
<div class="container">
<ul class="nav nav-pills">
<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
<a th:text="${p}" th:href="@{index(page=${p},mc=${mc})}"></a>
</li>
</ul>
</div>
</body>

</html>